*{
    margin: 0px;
    padding: 0px;
}


.wid img {
    border-radius: 100%;
    outline: 20px solid red;
    outline-offset: 20px;
}
.down{
    height: 250px;
    display: flex;
   
    justify-content: center;
   
    font-size: 50px;
    
    border: 2px solid orange;
    gap: 5px;
    align-items: center;
   


}
.su{
    border-radius: 0px 50px 50px 0px;
   padding:10px 30px;
    background: rgb(255, 0, 0);
    color: white;
    border-style: none;
}
.sy{
    border-radius: 50px 0px 0px 50px;
   padding:10px 30px;
    background: white;
   border-style: none;
}
.col1{
   
   height: 72px;
 
   

}
.col2{
    border-radius: 0px 10px 10px 0px;
    padding: 4px;
    background-color: red;
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 20px;
font-weight: 600;

text-align: center;
text-transform: capitalize;

}

.p1{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 80px;
font-weight: 700;

text-align: center;
margin-bottom: 13px;
}
.f2{
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.f3{
    background-image: url('../Vectorrr.png');
    height: 612px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
    gap: 24px;
}
.a{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 24px;
font-weight: 500;

}
.b{
    color: rgb(7, 2, 17);
font-family: Merriweather;
font-size: 48px;
font-weight: 900;

text-transform: capitalize;
}
.c{
    color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 400;


}
.cc{
    text-align: center;
}
.d{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 48px;
font-weight: 700;

}
.e{
    color: rgb(7, 2, 17);
font-family: Inter;
font-size: 15px;
font-weight: 500;

text-align: center;
}
.f{
    color: black;
font-family: Merriweather;
font-size: 48px;
font-weight: 900;

text-align: center;
}
.g{
    color: red;
    font-size: 48px;
}
.h{
    
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 24px;
font-weight: 500;

text-align: left;
margin-left: 57px;
}
.i{
    color: rgb(7, 2, 17);
font-family: Merriweather;
font-size: 48px;
font-weight: 900;

text-align: left;
text-transform: capitalize;
margin-left: 57px;
}
.j{
    color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 400;

text-align: left;
margin-left: 57px;
}
.joy{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.roy{
    height: 519px;
    width: 606px;
    margin-top: 50px;
    margin-right: 100px;
}
.p11{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    text-align: left;
    margin-bottom: 12px;
  
}
.p22{
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 12px;
    
}
span{
    color: red;
    font-size: 32px;
}
.tem{
    color: black;
    font-size: 32px;
}
.f4{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 434px;
    border-radius: 16px;
    width: 1320px;
margin-left: 57px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    margin-top: 40px;
}

.wid{
    width: 50%;
}
.ima{
    display: flex;
    justify-content: right;
    align-items: end;
}
.f5{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 417px;
    width: 1320px;
    margin-left: 57px;
} 
.f6{  
    margin-top: 0px;
    background-image: url('../images/Rectangle\ 2.png');
    height: 888px;
    background-repeat: no-repeat;
    background-position: bottom ;
}  
.f7{
    margin-top: 80px;
    
}
.f8{
    
    display: flex;
    height: 555px;
    justify-content: center;
    align-items: center;
    margin:80px 57px;
    text-align: center;
    border: 2px solid orange;
    background-color: rgba(255, 0, 0, 0.05);;
}
.ma{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 57px;
}
.sub{
    color: rgb(7, 2, 17);
font-family: Merriweather;
font-size: 48px;
font-weight: 900;

text-align: center;
text-transform: capitalize;
margin-bottom: 10px;
}
.sp{
    color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 400;

text-align: center;
margin-bottom: 40px;
}
.emai{
   text-align: center;
}
.p33{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
    text-align: left;
    margin-left: 20px;
    text-transform: uppercase;
}
.sec{
    justify-content: right;
}
.p2{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 13px;
    text-align: center;
}
.p3{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
   margin-bottom: 20px;
}

.f1p1{
    color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 26px;
font-weight: 400;


text-align: center;
}
.f2p2{
    color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
padding: 2px auto;


text-align: center;
}
.f9{
    height: 600px;
    background-color:black;
    margin: 0px 57px;
}
.l1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 200px;
}
.l2{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.l3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 200px;

}
.ff{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 24px;
font-weight: 500;
}
.fg{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 24px;
font-weight: 500;
text-decoration: none;
}
.f1{
    background-image: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%),url('/images/Banner\ Image.png');
     border-radius: 16px;
     height: 600px;
     
     background-repeat: no-repeat;
     background-position: center;
      background-size: cover;
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 20px 57px;
     
    }